$color-color: hsl(0, 0%, 100%);

$color-html: hsl(15, 100%, 60%);
$color-scss: hsl(220, 100%, 60%);
$color-js: hsl(60, 100%, 60%);
$color-mysql: hsl(220, 100%, 60%);
$color-mongodb: hsl(110, 100%, 60%);
$color-node: hsl(110, 100%, 60%);
$color-express: hsl(0, 0%, 80%);
$color-react: hsl(180, 100%, 60%);
$color-angular: hsl(0, 100%, 60%);
$color-corejava: hsl(0, 100%, 60%);
$color-git: hsl(15, 100%, 60%);

$porcent-html: 95;
$porcent-scss: 90;
$porcent-js: 85;
$porcent-angular: 80;
$porcent-react: 75;
$porcent-node: 70;
$porcent-express: 70;
$porcent-mysql: 65;
$porcent-mongodb: 65;
$porcent-git: 85;
$porcent-corejava: 65;

@function strokeDashoffset($num) {
    @return 440 - (440 * $num) / 100;
}
.mainTech{
    background-color: #01091e;
    .backImg{
        height: 100%;
        width: 100%;
        opacity: 0.4;
        position: fixed;
    }
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
    margin-bottom: 2rem;
    background-color: transparent;
}

.container__progressbars {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 270px;
    width: 100%;
    min-height: 100%;
}
.boxHtml:hover{
    box-shadow: 0px 0px 15px 3px $color-html !important;
}
.boxScss:hover{
    box-shadow: 0px 0px 15px 3px $color-scss !important;
}
.boxJs:hover{
    box-shadow: 0px 0px 15px 3px $color-js !important;
}
.boxAngular:hover{
    box-shadow: 0px 0px 15px 3px $color-angular !important;
}
.boxReact:hover{
    box-shadow: 0px 0px 15px 3px $color-react !important;
}
.boxNode:hover{
    box-shadow: 0px 0px 15px 3px $color-node !important;
}
.boxExpress:hover{
    box-shadow: 0px 0px 15px 3px $color-express !important;
}
.boxMySQL:hover{
    box-shadow: 0px 0px 15px 3px $color-mysql !important;
}
.boxMongoDB:hover{
    box-shadow: 0px 0px 15px 3px $color-mongodb !important;
}
.boxGit:hover{
    box-shadow: 0px 0px 15px 3px $color-git !important;
}
.boxCoreJava:hover{
    box-shadow: 0px 0px 15px 3px $color-corejava !important;
}
.progressbar {
    position: relative;
    width: 170px;
    height: 170px;
    transform: rotate(-90deg);
    margin: 1rem;
}
.prClass{
    display: inline;
    text-align: center;
    border-radius: 10px;
    box-shadow: 10px 10px 15px 0px black;
    margin: 2rem;
    cursor: pointer;
    background-color: #010510;
    backdrop-filter: blur(7px);

    h2{
        color: #aac5ff;
        font-family: 'Rubik', sans-serif;;
        font-size: 25px;
        letter-spacing: 1px;
    }
}
.prClass:hover{
    background-color: black;
    box-shadow: 0px 0px 15px 2px #66738f;
    transition: 0.5s;
}

.heading{
    font-size: 40px;
    text-align: center;
    color: #aac5ff;
    font-family: 'pridimedium';
    text-shadow: rgb(153, 153, 153) 1px 0 3px;
    letter-spacing: 2px;
}
.progressbar__svg {
    position: relative;
    width: 100%;
    height: 100%;
}

.progressbar__svg-circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 10;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    stroke: hsl(0, 0%, 100%);
    stroke-linecap: round;
    transform: translate(5px, 5px); // stroke-width / 2
}

.shadow {
    &-html {
        filter: drop-shadow(0 0 5px $color-html);
    }

    &-scss {
        filter: drop-shadow(0 0 5px $color-scss);
    }

    &-js {
        filter: drop-shadow(0 0 5px $color-js);
    }

    &-angular {
        filter: drop-shadow(0 0 5px $color-angular);
    }

    &-react {
        filter: drop-shadow(0 0 5px $color-react);
    }

    &-node {
        filter: drop-shadow(0 0 5px $color-node);
    }

    &-express {
        filter: drop-shadow(0 0 5px $color-express);
    }

    &-mysql {
        filter: drop-shadow(0 0 5px $color-mysql);
    }

    &-mongodb {
        filter: drop-shadow(0 0 5px $color-mongodb);
    }

    &-git {
        filter: drop-shadow(0 0 5px $color-git);
    }

    &-corejava {
        filter: drop-shadow(0 0 5px $color-corejava);
    }

}

.circle {
    &-html {
        animation: anim_circle-html 1s ease-in-out forwards;
    }

    &-scss {
        animation: anim_circle-scss 1s ease-in-out forwards;
    }

    &-js {
        animation: anim_circle-js 1s ease-in-out forwards;
    }

    &-angular {
        animation: anim_circle-angular 1s ease-in-out forwards;
    }

    &-react {
        animation: anim_circle-react 1s ease-in-out forwards;
    }

    &-node {
        animation: anim_circle-node 1s ease-in-out forwards;
    }

    &-express {
        animation: anim_circle-express 1s ease-in-out forwards;
    }

    &-mysql {
        animation: anim_circle-mysql 1s ease-in-out forwards;
    }

    &-mongodb {
        animation: anim_circle-mongodb 1s ease-in-out forwards;
    }

    &-git {
        animation: anim_circle-git 1s ease-in-out forwards;
    }

    &-corejava {
        animation: anim_circle-corejava 1s ease-in-out forwards;
    }
}

.progressbar__text {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0.25em 0.5em;
    color: hsl(0, 0%, 100%);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0.25em;
    transform: translate(-50%, -50%) rotate(90deg);

    img {
        height: 4rem;
        width: auto;
    }
}

//  @keyframes

@keyframes anim_circle-html {
    to {
        stroke-dashoffset: strokeDashoffset($porcent-html);
    }
}


@keyframes anim_circle-scss {
    to {
        stroke-dashoffset: strokeDashoffset($porcent-scss);
    }
}

@keyframes anim_circle-js {
    to {
        stroke-dashoffset: strokeDashoffset($porcent-js);
    }
}

@keyframes anim_circle-angular {
    to {
        stroke-dashoffset: strokeDashoffset($porcent-angular);
    }
}

@keyframes anim_circle-react {
    to {
        stroke-dashoffset: strokeDashoffset($porcent-react);
    }
}

@keyframes anim_circle-node {
    to {
        stroke-dashoffset: strokeDashoffset($porcent-node);
    }
}
@keyframes anim_circle-express {
    to {
        stroke-dashoffset: strokeDashoffset($porcent-express);
    }
}
@keyframes anim_circle-mysql {
    to {
        stroke-dashoffset: strokeDashoffset($porcent-mysql);
    }
}

@keyframes anim_circle-mongodb {
    to {
        stroke-dashoffset: strokeDashoffset($porcent-mongodb);
    }
}

@keyframes anim_circle-git {
    to {
        stroke-dashoffset: strokeDashoffset($porcent-git);
    }
}

@keyframes anim_circle-corejava {
    to {
        stroke-dashoffset: strokeDashoffset($porcent-corejava);
    }
}
@media (max-width : 767px) {
    .prClass{
        margin: 1.2rem;
    }
    .heading{
        font-size: 30px;
    }
}
@media (max-width : 767px) {
    .marginTop{
        padding-top: 6rem;
        margin: 0rem 0;
    }
}