<div class="mainFooter" [ngClass]=" opacityNew ? 'opacity3' : '' ">
    <div class="mainLogo">
        <img routerLink="/profile" src="assets/onlyLogo.png" alt="">
    </div>
    <ul class="mainUl">
        <li routerLink="/profile">Profile</li>
        <li routerLink="/work">Work</li>
        <li routerLink="/projects">Projects</li>
        <li routerLink="/education">Education</li>
        <li routerLink="/techSkills">Technical Skills</li>
        <li routerLink="/otherSkills">Other Skills</li>
        <li routerLink="/resume">Resume</li>
    </ul>
    <button routerLink="/contactMe" class="contactMe">
        Contact Me
    </button>
</div>
<div class="navUl" *ngIf="openNav" >
    <ul (click)="openNav = false">
        <li routerLink="/profile" style="padding-top: 1rem;"> <i class="fa fa-user-circle-o"></i> Profile</li>
        <li routerLink="/work"> <i class="fa fa-suitcase"></i> Work</li>
        <li routerLink="/projects"> <i class="fa fa-folder-open-o"></i> Projects</li>
        <li routerLink="/education"> <i class="fa fa-mortar-board"></i> Education</li>
        <li routerLink="/techSkills"> <i class="fa fa-laptop"></i> Technical Skills</li>
        <li routerLink="/otherSkills"> <i class="fa fa-futbol-o"></i> Other Skills</li>
        <li routerLink="/resume"> <i class="fa fa-file-pdf-o"></i> Resume</li>
        <li routerLink="/contactMe"> <i class="fa fa-paper-plane-o"></i> Contact Me</li>
    </ul>
</div>

<div class="respFooter" [ngClass]=" opacityNew ? 'opacity3' : '' ">
    <div class="userLogo" routerLink="/profile">
        <img class="userImg" src="assets/passportCasual.jpg" alt="">
    </div>
    <div class="name">
        <span>My Portfolio</span>
    </div>
    <div class="lines">
        <i class="fa fa-bars" (click)="openHideNav()" *ngIf="!openNav"></i>
        <i class="fa fa-times" (click)="openHideNav()" *ngIf="openNav"></i>
    </div>
</div>