.mainFooter {
    margin: 0 auto 0;
    width: 100%;
    background-color: #010510;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 4rem;
    position: fixed;
    z-index: 999 !important;
    box-shadow: 0px 0px 15px 2px rgb(0, 0, 52);

    .mainLogo {
        img {
            height: 3rem;
            width: auto;
            cursor: pointer;
            border-radius: 10px;
        }

        img:hover {
            box-shadow: 0px 0px 15px 2px rgb(0, 132, 255);
            transition: 0.5s;
        }
    }

    .mainUl {
        display: flex;
        gap: 1.5rem;
        margin: 0;

        li {
            list-style: none;
            font-weight: normal;
            cursor: pointer;
            color: #ffb703;
            font-size: 18px;
            letter-spacing: 1.5px;
        }

        li:hover {
            text-shadow: rgb(255, 255, 255) 1px 0 30px;
            transition: 0.2s;
        }
        li:focus{
            transition: 0.2s;
            text-shadow: rgb(255, 255, 255) 1px 0 30px;
            color: rgb(0, 132, 255);
        }
    }

    .contactMe {
        border: 2px solid rgb(0, 132, 255);
        color: white;
        background-color: rgb(0, 132, 255);
        font-size: 15px;
        padding: 0.5rem 1rem;
        letter-spacing: 1px;
        border-radius: 5px;
    }

    .contactMe:hover {
        box-shadow: 0px 0px 15px 2px rgb(0, 132, 255);
        background-color: black;
        border: 2px solid rgb(0, 132, 255);
        transition: 0.5s;
        color: rgb(0, 132, 255);
    }
}

.navUl {
    position: fixed;
    margin-top: 2.7rem;
    backdrop-filter: blur(25px);
    z-index: 999;
    width: 100%;

    ul {
        padding-left: 0;
        align-items: center;
        position: absolute;
        background-color: #010510;
        width: 100%;
        z-index: 999;

        li {
            padding-left: 1rem;
            list-style: none;
            margin: 30px 0;
            color: white;
            font-weight: bold;
            align-items: center;
            font-size: 20px;
            letter-spacing: 2px;

            i {
                margin-right: 1rem;
                color: #ffb703;
            }
        }
    }
}

@media (min-width : 1000px) {
    .respFooter {
        display: none;
        visibility: hidden;
    }
}

@media (max-width : 1000px) {

    .mainFooter {
        display: none;
        visibility: hidden;
    }

    .respFooter {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        width: 100%;
        align-items: center;
        position: fixed;
        backdrop-filter: blur(15px);
        background-color: #010510;
        z-index: 999;
        box-shadow: 0px 0px 15px 1px rgb(81, 81, 81);

        .userLogo {

            .userImg {
                border-radius: 50%;
                height: 3rem;
                width: 3rem;
                object-fit: cover;
                box-shadow: 0px 0px 15px 2px rgb(129, 129, 129);
            }
        }

        .name {
            span {
                font-size: 30px;
                color: transparent;
                -webkit-text-stroke: 2px rgb(0, 132, 255);
                text-shadow: 0 0 10px rgb(0, 52, 100), 0 0 10px rgb(0, 132, 255);
                font-weight: bold;
                letter-spacing: 2px;
            }
        }

        .lines {
            i {
                font-size: 40px;
                color: white;
            }
        }
    }
}