<div class="mainProjects" [ngClass]=" opacityNew ? 'opacity3' : '' ">
    <img class="backImg" src="https://wallpaperaccess.com/full/359794.jpg" alt="">
    <div class="mainCard">
        <h1 class="mainHeading">Projects</h1>
        <div class="card borderBottomYellow">
            <div class="imgAndDetails">
                <div class="proIcon">
                    <img src="assets/mernLogin.jpg" alt="">
                </div>
                <div class="headings textRight">
                    <h3>MERN Stack CRUD Application with Login and Register</h3>
                    <h4>1 Jan 2023 to 7 Mar 2023</h4>
                    <button class="sourceBtn" (click)="openSourceCode('MERN')">Open Source Code</button>
                    <button class="sourceBtn" (click)="showDetails('MERN')">Show Details</button>
                </div>
            </div>
        </div>
        <div class="card borderBottomYellow">
            <div class="imgAndDetails">
                <div class="headings">
                    <h3>Student Record Keeping (Freelance)</h3>
                    <h4>15 Feb 2021 to 21 Apr 2021</h4>
                    <button class="sourceBtn" (click)="openSourceCode('MEAN')">Open Source Code</button>
                    <button class="sourceBtn" (click)="showDetails('MEAN')">Show Details</button>
                </div>
                <div class="proIcon">
                    <img src="assets/mean5.png" alt="">
                </div>
                
            </div>
        </div>
        <div class="card borderBottomYellow">
            <div class="imgAndDetails">
                <div class="proIcon">
                    <img src="assets/snippet.png" alt="">
                </div>
                <div class="headings textRight">
                    <h3>Snippet Visualization System (College Project)</h3>
                    <h4>15 Aug 2020 to 29 Apr 2021</h4>
                    <button class="sourceBtn" (click)="showDetails('Snippet')">Show Details</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="overlay" *ngIf="openPopup">
    <div class="popup">
        <a class="close" (click)="closePopup()">&times;</a>
        <div class="content">
            <h3>{{heading}}</h3>
            <div class="details" *ngFor="let data of detailsArray">
                <ul>
                    <li>{{data.name}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>