.mainProjects {
    background-color: #01091e;
    .backImg {
        height: 100%;
        width: 100%;
        opacity: 0.3;
        position: fixed;
    }

    .mainCard {
        margin: 0 auto 5rem;
        width: 1000px;
        text-align: center;

        .heading {
            font-size: 60px;
            background-image: repeating-linear-gradient(to right, #ffb703, rgb(0, 132, 255) 10%, #3c9a44 20%);
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            text-align: center;
            padding-top: 5rem;
        }

        .card {
            display: inline-grid;
            padding: 1rem;
            border-radius: 10px;
            box-shadow: 7px 7px 15px 2px rgb(0, 0, 0);
            backdrop-filter: blur(15px);
            background-color: #010510;
            margin: 1rem 0;
            width: 700px;

            .imgAndDetails {
                display: flex;
                gap: 2rem;
                border-bottom: 1px solid gray;
                padding-bottom: 1rem;
                align-items: center;

                .proIcon {
                    img {
                        z-index: 999;
                        opacity: 1;
                        height: 10rem;
                        width: auto;
                        box-shadow: 0px 0px 15px 1px rgb(61, 61, 61);
                    }
                }

                .headings {
                    display: inline-block;
                    text-align: left;
                    color: white;

                    h3 {
                        font-size: 24px;
                    }

                    h4 {
                        color: #ffb703;
                    }

                    .sourceBtn {
                        background-color: transparent;
                        border: 2px solid rgb(0, 132, 255);
                        border-radius: 10px;
                        padding: 0.5rem 1rem;
                        color: rgb(0, 132, 255);
                    }

                    .sourceBtn:hover {
                        background-color: black;
                        box-shadow: 0px 0px 15px 1px rgb(0, 132, 255);
                        transition: 0.5s;
                    }
                }
            }

            .details {
                ul {
                    padding: 0;

                    li {
                        margin: 0.5rem 0;
                        list-style: none;
                        text-align: left;
                        color: white;
                        letter-spacing: 1px;

                        b {
                            color: rgb(0, 132, 255);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width : 999px) {
    .mainProjects {
        .mainCard {
            width: 100%;

            .card {
                width: 70%;
                height: fit-content;

                .imgAndDetails {
                    display: inline;

                    .headings {
                        margin-top: 1rem;
                    }

                    .proIcon {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width : 767px) {
    .mainProjects {
        .mainCard {
            .heading{
                font-size: 40px;
            }
            .card {
                width: 80%;

                .imgAndDetails {
                    width: 100%;
                }
            }
        }
    }
}