<div class="mainWork" [ngClass]=" opacityNew ? 'opacity3' : '' ">
    <img class="backImg" src="https://4kwallpapers.com/images/wallpapers/planet-earth-night-view-illuminated-orbit-dark-background-5k-2560x1440-8934.jpg" alt="">
    <div class="workInfo">
        <h1 class="mainHeading">Work Experience</h1>
        <div class="cards">
            <div class="card borderBottomYellow">
                <div class="imgComp">
                    <img class="compImg" src="assets/aquarious.jpg" alt="">
                </div>
                <h3>Aquarious Technology</h3>
                <h4 class="position">MEAN Stack Developer</h4>
                <h4 class="duration">May 2023 to Aug 2023</h4>
                <div class="btnCenter">
                    <button class="readMoreBtn" (click)="openPopupFun('Aquarious')">Read More <i class="fa fa-angle-double-right"></i> </button>
                </div>
            </div>
            <div class="card borderBottomBlue">
                <div class="imgComp">
                    <img class="compImg" src="assets/fintech.jpg" alt="">
                </div>
                <h3>Fintech Global Center</h3>
                <h4 class="position">Angular Developer</h4>
                <h4 class="duration">Nov 2022 to Mar 2023</h4>
                <div class="btnCenter">
                    <button class="readMoreBtn colorYellow" (click)="openPopupFun('Fintech')">Read More <i class="fa fa-angle-double-right"></i></button>
                </div>
            </div>
            <div class="card borderBottomYellow">
                <div class="imgComp">
                    <img class="compImg" src="assets/intellect.png" alt="">
                </div>
                <h3>Intellect Design Arena</h3>
                <h4 class="position">Software Engineer</h4>
                <h4 class="duration">July 2021 to Sept 2023</h4>
                <div class="btnCenter">
                    <button class="readMoreBtn" (click)="openPopupFun('Intellect')">Read More <i class="fa fa-angle-double-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="overlay" *ngIf="openPopup">
    <div class="popup">
        <a class="close" (click)="closePopup()">&times;</a>
        <div class="content">
            <div class="mainInfo">
                <h2 class="title">{{title}}</h2>
                <h3 class="disg">{{disg}}</h3>
                <h3 class="date">{{date}}</h3>
            </div>
            <div class="details" *ngFor="let data of compDetails">
                <ul>
                    <li>{{data.name}}</li>
                </ul>
            </div>
            <div class="tech" *ngFor="let data of technology">
                Front End : <span>{{data.frontEnd}}</span>&nbsp;&nbsp;
                Backend : <span>{{data.backend}}</span>&nbsp;&nbsp;
                Database : <span>{{data.database}}</span>
            </div>
        </div>
    </div>
</div>