.profileMain {
    overflow: auto;

    .backImg {
        height: 100%;
        width: 100%;
        opacity: 0.6;
        position: fixed;
    }

    .mainInfoAndImg {
        display: flex;
        gap: 2rem;
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);
        align-items: center;

        .mainInfo {
            display: inline-block;

            .intro {
                color: white;
                font-size: 35px;
                letter-spacing: 1.5px;
            }

            .name {
                font-size: 70px;
                font-weight: bold;
                letter-spacing: 1.5px;
                background-position: center;
                background-clip: text;
                background-size: cover;
                -webkit-background-clip: text;
                color: transparent;
                background-image: url("https://t3.ftcdn.net/jpg/03/72/34/56/360_F_372345685_Lbm0zi9mPI1VqpkZaszdyTmbq4yVC0HO.jpg");
            }

            .profession {
                color: white;
                font-size: 50px;
                letter-spacing: 2px;
                text-shadow: 0px 0px 10px rgb(0, 132, 255);
            }

            .btns {
                display: flex;
                gap: 2rem;
                margin-top: 2rem;

                .resume {
                    border: 2px solid white;
                    border-radius: 20px;
                    background-color: transparent;
                    color: white;
                    padding: 0.5rem 3rem;
                    letter-spacing: 2px;
                    font-weight: bold;
                }

                .resume:hover {
                    box-shadow: 0px 0px 15px 2px white;
                    transition: 0.5s;
                    border: 2px solid black;
                    background-color: white;
                    color: black;
                }
            }

            .socialBtns {
                display: flex;
                gap: 2rem;
                margin-top: 2rem;

                i {
                    font-size: 40px;
                    color: white;
                    cursor: pointer;
                    filter: drop-shadow(0 0 0.75rem #ffb703);
                }

                i:hover {
                    filter: none;
                    transition: 0.5s;
                }
            }
        }

        .mainImg {
            img {
                height: 20rem;
                width: 15rem;
            }
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;

    .popup {
        margin: 5rem auto;
        padding: 20px;
        background: #2f2f2f;
        border-radius: 15px;
        width: min-content;
        position: relative;
        transition: all 5s ease-in-out;
        z-index: 999;

        .backImg {
            height: 100%;
            width: 100%;
            opacity: 0.9;
        }

        .close {
            position: absolute;
            top: -10px;
            right: 10px;
            transition: all 200ms;
            font-size: 50px;
            font-weight: bold;
            text-decoration: none;
            color: #bababa;
        }

        .close:hover {
            color: rgb(0, 132, 255);
            cursor: pointer;
        }

        .content {
            max-height: fit-content;
            width: fit-content;
            overflow: auto;

            h2 {
                font-weight: bold;
                letter-spacing: 1px;
                background-position: center;
                background-clip: text;
                background-size: cover;
                -webkit-background-clip: text;
                color: transparent;
                background-image: url("https://img.freepik.com/free-photo/vivid-blurred-colorful-wallpaper-background_58702-2446.jpg");
                text-align: center;
                font-size: 35px;
            }

            span {
                padding: 0 2rem;
                color: rgb(255, 255, 255);
                letter-spacing: 1px;
            }

            .otherInfo {
                display: flex;
                width: 100%;
                margin-top: 2rem;

                .mainInfo {
                    .twoBlock {
                        display: inline-block;
                        gap: 2rem;
                        align-items: center;
                        width: 100%;


                        .info {
                            display: flex;
                            gap: 2rem;
                            width: 100%;
                            margin: 1.5rem 0;
                            align-items: center;

                            i {
                                font-size: 30px;
                                color: #ffb703;
                                width: 10%;
                                text-align: center;
                            }

                            .data {
                                padding: 0;
                                width: 90%;
                                letter-spacing: 1px;
                            }

                            .textWrap {
                                text-wrap: nowrap;
                            }
                        }
                    }
                }

                .profileImg {
                    text-align: center;

                    img {
                        height: 30rem;
                        width: auto;
                        margin-top: -10rem;
                        filter: drop-shadow(10px 10px 8px rgb(0, 0, 0));
                    }
                }
            }
        }
    }
}

@media (max-width : 900px) {
    .profileMain {
        .mainInfoAndImg {
            left: 50%;

            .mainInfo {
                .name {
                    text-wrap: nowrap;
                }
            }
        }
    }
}

@media (max-width : 767px) {
    .profileMain {
        .mainInfoAndImg {
            .mainInfo {
                .btns {
                    display: inline-grid;
                }
            }
        }
    }

    .overlay {
        .popup {
            width: 90%;
            overflow: auto;
            height: 80%;

            .content {
                h2{
                    text-align: center;
                }
                .otherInfo {
                    display: inline;

                    .profileImg {
                        img {
                            margin-top: -8rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width : 600px) {
    .profileMain {
        .mainInfoAndImg {
            width: 90%;

            .mainInfo {
                .name {
                    text-wrap: wrap;
                }

                .btns {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}

@media (max-width : 390px) {
    .profileMain {
        .mainInfoAndImg {
            .mainInfo {
                .btns {
                    display: inline-grid;

                    .resume {
                        width: 200%;
                    }
                }
            }
        }
    }
}