.mainOtherSkills{
    background-color: #01091e;
    .backImg{
        height: 100%;
        width: 100%;
        opacity: 0.3;
        position: fixed;
    }

    .innerClass {
        background-color: #010510;
        width: -moz-fit-content;
        width: fit-content;
        text-align: center;
        padding: 2rem;
        margin: 3rem auto;
        border-radius: 20px;
        box-shadow: 0px 0px 10px 10px black;

        .hobHeading {
            text-align: center;
            font-size: 40px;
            font-family: 'Rubik', sans-serif;
            color: #ffb703;
            margin: 0rem 0 1rem;
            letter-spacing: 2px;
        }
        .classMain {
            display: flex;
            justify-content: center;
            gap: 2rem;

            .center {
                display: inline-flex;
                justify-content: center;

                .article-card {
                    width: 100%;
                    height: 220px;
                    border-radius: 12px;
                    overflow: hidden;
                    position: relative;
                    font-family: Arial, Helvetica, sans-serif;
                    transition: all 300ms;
                    box-shadow: 0px 0px 10px 10px rgba(108, 108, 108, 0.3);

                    .content {
                        text-align: center;
                        box-sizing: border-box;
                        width: 100%;
                        position: absolute;
                        padding: 30px 20px 10px 20px;
                        height: auto;
                        bottom: 0;
                        /* background: linear-gradient(transparent, rgba(0, 0, 0, 0.6)); */

                        .title {
                            font-size: 26px;
                            color: black;
                            text-shadow: rgb(89, 89, 89) 1px 0 3px;
                            font-weight: bold;
                            margin: 0;
                            font-size: 40px;
                        }
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .article-card:hover {
                    box-shadow: 0px 0px 10px 5px #66738f;
                }
            }
        }
    }
}

.article-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.datee {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #2e4983;
}

.article-card .date {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 4px;
}

.titlee {
    color: black !important;
    font-size: 22px !important;
}

.cerBtn {
    padding: 0.5rem;
    background-color: transparent;
    border-radius: 7px;
    color: #2652b1;
    border: 3px solid #2652b1;
    font-weight: bold;
    margin: 0;
    cursor: pointer;
    text-align: right;
}

.cerBtn:hover {
    color: white;
    border: 3px solid #4e6aa7;
    background-color: #1b2334;
    box-shadow: 1px 1px 10px 2px black;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;

    .popup {
        margin: 5rem auto 20px;
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        width: fit-content;
        position: relative;
        transition: all 5s ease-in-out;
        z-index: 999;

        h2 {
            margin-top: 0;
            color: #333;
            font-family: Tahoma, Arial, sans-serif;
        }

        .close {
            position: absolute;
            top: -10px;
            right: 10px;
            transition: all 200ms;
            font-size: 50px;
            font-weight: bold;
            text-decoration: none;
            color: #333;
        }
        .close:hover {
            color: #06D85F;
            cursor: pointer;
        }
        .content {
            max-height: fit-content;
            width: fit-content;
            overflow: auto;

            img {
                height: 35rem;
                width: auto;
                border-radius: 1px;
            }
        }
    }
}

@media (max-width : 767px) {
    .main {
        margin: 0 auto;
        width: 80%;
        text-align: center;

        .mainHeading{
            font-size: 30px;
        }
        .hobHeading {
            font-size: 30px;
            margin: 1rem 0;
        }

        .innerClass{
            padding: 1rem;
            margin: 2rem 0;
            border-radius: 20px;
            background-color: transparent;
            box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);

            .classMain {
                display: inline;
                margin: 2rem auto;
    
                .center {
                    .article-card {
                        margin-bottom: 2rem;
                    }
                }
            }
        }
    }
    .overlay{
        margin-top: 4rem;
        // width: 80%;
        .popup{
            width: 90%;
            .content{
                img{
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width : 767px) {
    .mainOtherSkills{
        .innerClass{
            width: 80%;
            margin-top: 2rem;
            .classMain{
                display: inline;

                .center{
                    .article-card{
                        margin: 1rem 0;
                        box-shadow: 0px 0px 15px 2px gray;
                    }
                }
            }
        }
    }
}