/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;400&display=swap");


* {
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: #01091e;
}
.textRight{
    text-align: right !important;
}
.colorYellow {
    background-color: #ffb703 !important;
    border: 2px solid #ffb703 !important;
    color: black !important;
    font-weight: bold !important;
}

.colorYellow:hover {
    background-color: black !important;
    border: 2px solid #ffb703 !important;
    color: #ffb703 !important;
    box-shadow: 0px 0px 15px 2px #ffb703 !important;
}

.colorBlue {
    color: rgb(0, 132, 255);
}

.opacity3 {
    opacity: 0.3;
}

.marginRight {
    margin-right: -5rem !important;
}

.borderRight {
    border-right: 5px solid #ffb703;
}

.borderBottomBlue {
    border-bottom: 5px solid rgb(0, 132, 255);
}

.borderBottomYellow {
    border-bottom: 5px solid #ffb703;
}

.borderLeft {
    border-left: 5px solid #ffb703;
}

.mainHeading {
    font-size: 50px;
    background-position: center;
    background-clip: text;
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
    background-image: url("https://cdn4.vectorstock.com/i/1000x1000/34/83/abstract-colorful-mixed-for-background-rainbow-vector-27733483.jpg");
    padding-top: 5rem;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 999;
    opacity: 1;
    text-align: center;
}

@media (max-width : 767px) {
    .mainHeading {
        font-size: 40px;
    }
    .textRight{
        text-align: center !important;
    }
}