/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;400&display=swap");


*{
    font-family: 'Rubik', sans-serif;
}
body{
    background-color: black;
}

.colorYellow{
    background-color: #ffb703 !important;
    border: 2px solid #ffb703 !important;
    color: black !important;
    font-weight: bold !important;
}

.colorYellow:hover{
    background-color: black !important;
    border: 2px solid #ffb703 !important;
    color: #ffb703 !important;
    box-shadow: 0px 0px 15px 2px #ffb703 !important;
}

.colorBlue{
    color: rgb(0, 132, 255);
}