
<div class="resumeMain" [ngClass]=" opacityNew ? 'opacity3' : '' ">
    <img class="backImg" src="https://e0.pxfuel.com/wallpapers/433/647/desktop-wallpaper-earth-in-full-for-ultra-earth.jpg" alt="">
    <h2 class="mainHeading">My Resume</h2>
    <div class="image">
        <img src="assets/harshalResume.png" alt="">
    </div>
    <div class="btnDownload">
        <button class="downloadBtn">
            <a href="assets/HarshalShelarResume.pdf" download><i class="fa fa-download"></i> &nbsp; &nbsp;Download</a>
        </button>
    </div>
</div>